repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=2000]
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: \.Rd
      - id: file-contents-sorter
        files: ^\.Rbuildignore$
  - repo: https://github.com/lorenzwalthert/precommit
    rev: v0.4.3.9020
    hooks:
      - id: roxygenize
        additional_dependencies:
          - checkmate
          - curl
          - data.table
          - httr2
          - jsonlite
          - xml2
      - id: deps-in-desc
      - id: no-browser-statement
      - id: no-debug-statement
      - id: parsable-R
      - id: readme-rmd-rendered
      - id: use-tidy-description
